.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: white;
}

.loading div {
  width: 40px;
  height: 40px;
  background: var(--active-color);
  margin: 0 2px;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out both;
}

.loading .bounce-2 {
  animation-delay: 0.3s;
}

.loading .bounce-3 {
  animation-delay: 0.5s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
